BOT_TOKEN= # Токен бота
ADMIN_IDS= # Телеграм айди админов через запятую. например 1234567, 123456 ..
DB_FILE= # Имя файла БД. Например users.db
EXCEL_FILE= # Excel имя экспортированной БД. Например users.xlsx
