venv/
ven/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class

*.env
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.log

*.so
*.dylib
*.dll
*.exe

*.egg
*.egg-info/
dist/
build/
*.whl

data/*
!data/
!data/.gitkeep

.ipynb_checkpoints/

secrets.json
config.json

.DS_Store

*.swp